div{
    border: 1px solid black;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.radioOne,.radioTwo{
    width: 100%;
    height: 43vh;
    border: 1px solid black;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30vw;
}
.option{
    height: 14vh;
    background-color: black;
}
.oneUser,.twoUser{
    width: 100%;
    height: 43vh;
    background-color: lightgray;
}
input[type="radio"]{
    display: none;
}
